<!-- <app-navbar></app-navbar> -->
<h3 class="page-header">Change Password</h3>
<ul class="list-group" style="font-size:18px;">
  <li class="list-group-item"><label>User Id : </label> {{userid}} </li>
  <li class="list-group-item"><label>Current Password</label>
    <input required type="password" class="form-control" [(ngModel)]="currentpassword" name="currentpassword" value="">
  </li>
  <li class="list-group-item"><label>New Password</label>
    <input required type="password" class="form-control" [(ngModel)]="password" name="password" value="">
  </li>
  <li class="list-group-item"><label>Confirm Password</label>
    <input required type="password" class="form-control" [(ngModel)]="confirmpassword" name="confirmpassword" value="">
  </li>
</ul>
<input type="submit" style="font-size:18px; width:300px; float: right; text-transform: none;" class="btn btn-primary" value="Change Password" (click)="onChangePassword()" />
