<h3 class="page-header">Manage Schools</h3>
<div style="text-align:center">
<a style="padding: 20px 120px; font-size: 18px; text-transform: none;" [routerLink] ="['/manageschools/viewallschools']" class="btn btn-default" >View All Schools</a>
</div>
<div style="text-align:center">
<br><a style="padding: 20px 120px; font-size: 18px; text-transform: none;" [routerLink] ="['/manageschools/addnewschool']" class="btn btn-default">Add New School</a>
</div>
<div style="text-align:center">
<br><a style="padding: 20px 100px; font-size: 18px; text-transform: none;" [routerLink] ="['/manageschools/updateschoolname']" class="btn btn-default">Update School Name</a>
</div>
<div style="text-align:center">
<br><a style="padding: 20px 100px; font-size: 18px; text-transform: none;" [routerLink] ="['/manageschools/updatecountyname']" class="btn btn-default">Update County Name</a>
</div>
<div style="text-align:center">
<br><a style="padding: 20px 80px; font-size: 18px; text-transform: none;" [routerLink] ="['/manageschools/activeateinactivateschool']" class="btn btn-default">Activate/Inactivate School</a>
</div>

<router-outlet></router-outlet>
